.st-emotion-cache-1wmy9hl .e1f1d6gn0 {
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

button[title="View fullscreen"] {
  visibility: hidden;
}

.st-emotion-cache-1wmy9hl .e1f1d6gn0 > div {
  width: 100%;
}
.st-emotion-cache-1valv9w .e1f1d6gn1 > div,
.st-emotion-cache-ww522i {
  width: 100%;
}
.stMarkdown {
  width: 100%;
}
